<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarvestEdge - Farming Recommendation Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="logo">HarvestEdge</h1>
        <button id="theme-toggle" class="theme-toggle">Toggle Theme</button>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Services</a>
                    <div class="dropdown-content">
                        <a href="#">Recommendations</a>
                        <a href="#">Disease Detection</a>
                    </div>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="nav">
                    {% if current_user.is_authenticated %}
                    <span class="logged-in{% if login_success %} login-success{% endif %}">Welcome, {{ current_user.username }}</span> <!-- Display username -->
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="/signup">Sign Up</a> <!-- Direct link to the signup page -->
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro-cards">
            <div class="card">
                <h2>Introduction</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec turpis ac ipsum accumsan eleifend.</p>
            </div>
            <div class="card">
                <h2>Benefits</h2>
                <p>Empowering farmers with data-driven insights for smarter farming practices. Grow what thrives, sell what sells, cultivate smarter, and harvest bigger profits.</p>
            </div>
            <div class="card">
                <h2>Future Scope</h2>
                <p>Enhanced farm management capabilities including environmental integration, granular yield prediction, financial management tools, and promoting sustainability.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 HarvestEdge. All rights reserved.</p>
    </footer>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages-list">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
